<launch>  
  <node name="stage" pkg="stage_ros" type="stageros" args="$(find multi_sync)/world/willow-multi-erratic.world"/>
  <node name="monitor" pkg="multi_sync" type="monitor" args="4" output="screen"/> 
  <node name="move_robot_0" pkg="multi_sync" type="move_robot_sync" args="0" output="screen"/> 
  <node name="move_robot_1" pkg="multi_sync" type="move_robot_sync" args="1" output="screen"/> 
  <node name="move_robot_2" pkg="multi_sync" type="move_robot_sync" args="2" output="screen"/>
  <node name="move_robot_3" pkg="multi_sync" type="move_robot_sync" args="3" output="screen"/>
</launch>

