<launch>
        <param name="/use_sim_time" value="true" />
        <param name="min_cost" value="0.1" />
        <param name="max_cost" value="0.4" />
        <param name="jump_cost" value="0.1" />
        <param name="group_size" value="1" />



	<arg name="map_file" default="$(find ses)/world/labs.yaml"/>


	<node name="map_server_real" pkg="map_server" type="map_server" args="$(arg map_file)">
		<remap from="map" to="threat_map"/>
		<remap from="map_metadata" to="threat_map_metadata"/>
	</node>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find ses)/world/lab_map.yaml"/>


  	<node name="monitor" pkg="ses" type="monitor" output="screen"/> 
	
</launch>
